<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.crushpixel.com/big-static15/preview4/martini-cocktail-splashing-blue-purple-2125463.jpg); background-size: cover;">
  <div class="container">
    <div class="mx-5 mb-5 pl-5 fixed-top overflow-hidden w-100">
        <h1 id="typed-cocktail-title"></h1>
    </div>
  </div>
</div>

<div class="btn-create m-3 p-3">
    <%= link_to 'Create a new Cocktail',  new_cocktail_path, class: 'btn btn-gradient'  %>
</div>

<% @cocktails.each do |cocktail| %>
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card-product m-3 w-25">
        <img src="https://www.pngitem.com/pimgs/m/80-807363_cocktails-neon-sign-png-transparent-png.png"/>
            <div class="card-product-infos">
                <h3>
                    <%= link_to  "#{cocktail.name}", cocktail_path(cocktail), class: "cocktail-name" %>
                    <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Delete Cocktail?" } do %>
                        <i class="fas fa-trash"></i>
                    <% end %>
                </h3>
            </div>
        </div>
    </div>
<% end %>
