<div class="banner">
  <div class="container">
    <div class="mx-5 mb-5 pl-5 fixed-top overflow-hidden w-100">
        <h1 id="typed-cocktail-title"></h1>
    </div>
  </div>
</div>



<div class="container">
    <div class="btn-create mt-3 py-4">
        <%= link_to 'Create a new Cocktail',  new_cocktail_path, class: 'btn btn-gradient'  %>
    </div>
    <div class="row d-flex">
        <% @cocktails.each do |cocktail| %>
            <div class="card-product col-5 d-flex flex-row justify-content-between mx-3 mt-3 py-3 px-5">
                <%= cl_image_tag cocktail.photo.key, :width => 400, :height => 400, :crop => :fill %>
                <div class="card-info pr-3">
                    <h3 class="">
                        <%= link_to  "#{cocktail.name}", cocktail_path(cocktail), class: "cocktail-name" %>
                    </h3>
                </div>
                <div class="card-info pr-5">
                    <h3 class="">
                        <%= link_to cocktail_path(cocktail), method: :delete, data: { confirm: "Delete Cocktail?" } do %>
                            <i class="fas fa-trash-alt"></i>
                        <% end %>
                    </h3>
                </div>
            </div>  
        <% end %>
    </div>
</div>