<h1>Cocktails Page</h1>

<%= link_to 'Create a new Cocktail',  new_cocktail_path, class: 'btn btn-danger'  %>

<ul>
    <% @cocktails.each do |cocktail| %>
    <li>
        <p><%= link_to  "#{cocktail.name}", cocktail_path(cocktail) %></p>
    </li>
    <% end %>
</ul>
